
body::before {
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: url('assets/pythonquizbackground.png') no-repeat center center fixed;
    background-size: cover;
    opacity: 0.5;
}
body {
    font-family: 'Arial', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f8f8f8;
}

#quiz-container {
    background-color: rgba(255, 255, 255, 0.7); /* 70% opacity white */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 80vw;
    max-width: 500px;
    text-align: center;
}

#question code {
    display: block;
    background-color: #f8f8f8;
    font-family: 'Courier New', monospace;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
}


.btn-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    margin: 20px 0;
    width: 100%;
}

.btn {
    background-color: #1d72b8;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 15px;
    font-size: 16px;
    transition: background-color 0.3s ease;
    white-space: normal; 
    word-wrap: break-word;  
    overflow: hidden;
}

.btn:hover, .btn:focus {
    background-color: #245a80;
}

.btn code {
    background-color: #e8e8e8;
}

#next-button {
    background-color: #2d98f3;
}

#result-container {
    margin: 20px 0;
}

.hide {
    display: none;
}

.btn.correct {
    background-color: #28a745;
}

.btn.wrong {
    background-color: #dc3545;
}

#answer-feedback {
    margin-top: 10px;
    font-weight: bold;
    font-size: 1.1em;
}

#progress-bar-container {
    height: 20px;
    background-color: #e0e0df;
    border-radius: 5px;
    margin: 20px 0;
    width: 80%;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

#progress-bar {
    height: 100%;
    background-color: #76c7c0;
    width: 0%; /* Initially, it should be 0% */
}

code, pre {
    color: #333;
}

code {
    font-family: 'Courier New', monospace;
    background-color: #f8f8f8;
    padding: 2px 5px;
    border-radius: 3px;
}

pre {
    background-color: #f8f8f8;
    border-radius: 5px;
    padding: 10px;
    overflow-x: auto;
    max-width: 100%;  
    white-space: pre-wrap;
    word-wrap: break-word;
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
}

pre code {
    background-color: transparent;
    padding: 0;
}

@media only screen and (max-width: 600px) {
    .btn-grid {
        grid-template-columns: 1fr;
    }
}